<h1> </h1>

<div>
	<h1><%= @meetup.name %></h1>

	<h3>Location: <%= @meetup.location %></h3>

	<h5><p>Event Description: <%= @meetup.description %></p></h5>

</div>

<div>
	<h4>Attendees:</h4>
	<li>

	</li>


</div>

<a href='/'>Back</a>